.profile__info-about {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 294px;
}

@media screen and (max-width: 767px) {
  .profile__info-about {
    margin-top: 14px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 189px;
  }
}

