.popup__btn {
  padding: 0;
  margin-top: 21px;
  border: none;
  width: 358px;
  height: 50px;
  background: #000000;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  transition: opacity .5s linear;
}

.popup__btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__btn {
    margin-top: 18px;
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
