.popup__item {
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, .2);
  color: #000;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.popup__item:focus {
  outline: none;
}
